/*General responsive CSS*/

/*
#61892f
#86C232
#222629
#474B4F
#6B6E70



*/



* {
  box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    padding: 5px;
    /*border: 1px solid black;*/
}



/* This media query is used to remove elements from mobile*/
@media only screen and (max-width: 769px) {
    
    header h1 {
    color: #86C232;
    text-align: center;
    }

    
    main {
        background-color: #222629;
    }
    
    .home-main1-msg h2  {
        color: #86C232;
        font-size: 6vw;
        text-align: center;
    }
    
    .nav-link   {
        border: 1px solid #254E58;
    }
    
    .foot {
        text-align: center;
    }
    
    
    
}


















@media only screen and (min-width: 769px) {
  /* CSS For desktop: */
    
    /*Grid view CSS for all pages DESKTOP ONLY */
    [class*="col-"] {
        float: left;
        padding: 5px;
    }
    
    /*defines width for the 12 columns and makes displays them in rows*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    /*General desktop CSS for all pages*/
    
    body {
        background-color: white;
    }
    
    /*this sets the height for everything in the heading section excluding the nav*/
    .heading {
        height: 220px;
    }
    
    p, th, tr, td, li {
        font-size: 2vw;
    }
    
    h1 {
        font-size: 3vw;
    }
    
    h2 {
        font-size: 2.5vw
    }
    
    h3 {
        font-size: 2.3vw;
    }
    
    header h1 {
    color: #86C232;
    text-align: left;
    margin-left: 3%;
    font-size: 4vw;
    }
    
    /* End general Desktop CSS for all pages*/
    
    
    
    
    /*Home main CSS*/
    
    /*Home Page Parallax Background CSS*/
    .main-background {
        background-image: url('/img/Slate%20Background.jpg');
        min-height: 400px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /*message that appears at the top of main*/
    #home-main1-msg {
        color: #61892f;
        text-align: left;
    }
    
    .home-main-msg h2  {
        color: #86C232;
        font-size: 4.5vw;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .home-main-p p {
        color: #86C232;
        text-align: center;
        font-size: 3vw;
        font-weight: bold;
    }
    
    /* End Home main CSS*/
    
    /* Services CSS*/
    
    
    
    
    
    
}
/*end responsive CSS*/













/* Golbal Setting */
h1, h2, h3, p, a, li, label {
    font-family: 'Pragati Narrow', sans-serif;
    color: #6B6E70;
}

th a {
    font-family: 'Pragati Narrow', 'sans-serif';
    color: #86C232;
}

td {
    font-family: 'Pragati Narrow', 'sans-serif';
    color: #86C232;   
}

a {
    text-decoration: none;
}

.underline  {
    margin: 5px 30% 5px 30%;
    border-bottom: 2px solid #254E58;
}


/* header CSS*/
header {
    background-color: #222629;
    border-bottom: 2px solid #86C232;
}


/*centers the contact table*/
.heading {
    text-align: center;
}

nav a {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

nav a:hover {
    text-shadow: 1px 1px 2px #000000;
}

.nav-link {
    text-align: center;
}


/* header contact table */
.contact-table {
    display: inline-table;
    font-size: 25px;
    margin: 10px;
}

.contact-bottom {
    text-align: left;
}

.contact-top {
    text-align: right;
}

.contact-table th {
    padding: 0px;
    margin: 0px;
}

.contact-table th a:hover {
    text-shadow: 1px 1px 2px #000000;
}

.contact-table tr {
    padding: 0px;
    margin: 0px;
}

.contact-table td {
    padding: 0px;
    margin: 0px;
}

.social-icons {
    width: 30px;
}


/*Footer CSS*/
footer {
    background-color: #222629;
    border-top: 2px solid #86C232;
}

footer p {
    font-size: 14px;
}

/*home CSS*/

.home-about-top {
    background-color: #222629;
    border-top: 2px solid #86C232;
}

.home-about-top h3 {
    text-align: center;
    font-size: 3vw;
    color: #86C232;
}

.home-about-bottom {
    background-color: #222629;
}



/*Skills main CSS*/





/*Skills Expand*/

#bit-link {
    color: white;
}

#expand-it {
    display:none;
}

#expand-it + .smalldesc {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#expand-it:checked + .smalldesc {
    max-height: 950px;  
}

#expand-mobile {
    display: none;  
}

#expand-mobile + .smalldesc {
    max-height:0px;
    overflow:hidden;
    transition:all 0.5s ease;
}

#expand-mobile:checked + .smalldesc {
    max-height: 950px;  
}

#expand-web {
    display: none;  
}

#expand-web + .smalldesc {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#expand-web:checked + .smalldesc {
    max-height: 950px;  
}

label {
    text-decoration: none;
    cursor: pointer;
}

label:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}


/*Skills Main CSS*/
.skills-main-container {
    background-color: #222629;
    margin: 1% 20% 1% 20%;
    border: 3px solid white;
}

.skills-main-container label {
    display: block;
    font-size: 2.5em;
    color: #6B6E70;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-main-heading {
    background-color: #474B4F;
    margin: 1% 30% 1% 30%;
    border: 3px solid white;
}

.skills-main-heading h1 {
    color: #86C232;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills-main-container p {
    color: white;
    padding: 10px;
    margin: 10px;
}

.skills-main-container ul {
    margin: 10px;
}

.skills-main-container li {
    color: white;
}

.java-img {
    height: 250px;
}

.smalldesc li {
    list-style: none;
}

.java-img-container {
    display: flex;
    padding: 5px;
    margin: 15px;
    
}



/* Contact Main CSS*/

.contact-main-heading {
    text-align: center;
    color: #86C232;
}




.contact-main {
    background-color: #222629;
    border: 2px solid #474B4F;
    margin-bottom: 20px;
}

.contact-main p {
    text-align: center;
}

#contact-main-title {
    text-align: center;
    color: #86C232;
    font-size: 4vw;
}

.button-container   {
    margin: 30px 0px 30px;
    text-align: center;
}

.button {
    background-color: gainsboro;
    border: none;
    color: #6B6E70;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #000000;
}







