
#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);	
}
body
{
	background-color: #026092;
	
}

.return {
    
    color: white;
    display: block;
    text-align: center;
    margin: 30px;
}

.return a   {
    color: white;
    font-size: 30px;
}

#service-label  {
    font-size: 1.2em;
}