/*General responsive CSS*/

* {
  box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    padding: 5px;
    /*border: 1px solid black;*/
}









/* This media query is used to remove elements from mobile*/
@media only screen and (max-width: 769px) {
    
    #home-main1 {
        display: none;
    }
    
    .about-img {
        display: none;
    }
    
    .nav-link   {
        border: 1px solid #026092;
    }
    
    .foot {
    text-align: center;
    }
    
    #services-main-background {
        background-color: gainsboro;
    }
}



@media only screen and (min-width: 769px) {
  /* CSS For desktop: */
    
    /*Grid view CSS for all pages DESKTOP ONLY */
    [class*="col-"] {
    float: left;
    padding: 5px;
    }
    
    /*defines width for the 12 columns and makes displays them in rows*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    /*General desktop CSS for all pages*/
    
    body {
        background-color: white;
    }
    
    /*this sets the height for everything in the heading section excluding the nav*/
    .heading {
        height: 220px;
    }
    
    p, th, tr, td, li {
        font-size: 2vw;
    }
    
    h1 {
        font-size: 3vw;
    }
    
    h2 {
        font-size: 2.5vw
    }
    
    h3 {
        font-size: 2.3vw;
    }
    
    
    
    /* End general Desktop CSS for all pages*/
    
    
    
    
    /*Home main CSS*/
    
    /*Home Page Parallax Background CSS*/
    #home-main1 {
        background-image: url('/img/verne-ho-MwW-zrkYSIU-unsplash.jpg');
        min-height: 600px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /*message that appears at the top of main*/
    #home-main1-msg {
        color: #026092;
        text-align: left;
    }
    
    #home-main1-msg h1  {
        font-size: 4.5vw;
    }
    
    #home-main1-msg h2  {
        font-size: 3.5vw;
    }
    
    #home-main2-msg {
        font-size: 2vw;
    }
    
    #home-main3 {
        height: 600px;
    }
    
    .home-main3-msg {
        height: inherit;
    }
    
    .home-main3-msg h3 {
        font-size: 2vw;
    }

    .home-main3-msg p {
        font-size: 2vw;
        color: black;
    }
    /* End Home main CSS*/
    
    /* Services CSS*/
    
    /* background image for services*/
    #services-main-background {
        background-color: #026092;
        background-image: url(/img/wetfloor%20large.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
    
    
    
    
    
}
/*end responsive CSS*/




/* Golbal Setting */
h1, h2, h3, p, a, th, tr, td, li, label {
    font-family: 'Pragati Narrow', sans-serif;
    color: #026092;
}

a {
    text-decoration: none;
}

.underline  {
    margin: 5px 30% 5px 30%;
    border-bottom: 2px solid #026092;
}


/* header CSS*/
header {
    background-color: gainsboro;
    border-bottom: 2px solid #026092;
}

header h1 {
    font-size: 2em;
    text-align: center;
}


/*centers the contact table*/
.heading {
    text-align: center;
}

.responsive-img-header {
    max-width: 70%;
    height: auto;
}

nav a {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

nav a:hover {
    text-shadow: 1px 1px 2px #000000;
}

.nav-link {
    text-align: center;
}


/* header contact table */
.contact-us-table {
    display: inline-table;
    font-size: 25px;
    margin: 10px;
}

.contact-us-table th {
    padding: 0px;
    margin: 0px;
}

.contact-us-table th a:hover {
    text-shadow: 1px 1px 2px #000000;
}

.contact-us-table tr {
    padding: 0px;
    margin: 0px;
}

.contact-us-table td {
    padding: 0px;
    margin: 0px;
}

.social-icons {
    width: 35px;
}


/*Footer CSS*/
footer {
    background-color: gainsboro;
    border-top: 2px solid #026092;
}

footer p {
    font-size: 14px;
}






/*home main CSS*/

#home-main2 {
    background-color: white;
    text-align: center;
    font-size: 1.5em;
    }

#home-main3 {
    background-color: white;
    text-align: center;
    font-size: 1.5em;
}


#home-main3-mission {
    background-color: #026092;
}

#home-main3-mission h3 {
    color: white;
}

#home-main3-mission p {
    color: white;
}

#home-main3-cleaning p {
    margin: 5%;
}

#home-main3-you p {
    margin: 5%;
}
/* end home main CSS*/



/*About main CSS*/

.about-heading {
    text-align: center;
}

.about-heading p {
    margin-left: 5%;
    margin-right: 5%;
}

.about-heading li {
    margin-left: 5%;
    margin-right: 5%;
}

.about-img  {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

#about-safety {
    background-color: #026092;
}

#about-safety h2 {
    color: white;
}

#about-safety p {
    color: white;
}

ul  {
    text-align: left;
}

/*End About main CSS*/



/*Team main CSS*/

.team-main   {
    border-bottom: 2px solid #026092;
}

.team-main p {
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.team-main h2 {
    margin-left: 10%;
    margin-right: 10%;
}

.team-main-heading  {
    text-align: center;
}

/*End Team main CSS*/





/*Services main CSS*/



/*Services Expand*/

#expand-porter {
    display:none;

}

#expand-porter + .smalldesc {
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand-porter:checked + .smalldesc {
    max-height: 750px;  
}

#expand-floor {
    display: none;  
}

#expand-floor + .smalldesc {
    max-height:0px;
    overflow:hidden;
    transition:all 1s ease;
}

#expand-floor:checked + .smalldesc {
    max-height: 750px;  
}

#expand-jan {
    display: none;  
}

#expand-jan + .smalldesc {
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

#expand-jan:checked + .smalldesc {
    max-height: 750px;  
}

label {
    text-decoration: none;
    cursor: pointer;
}

label:hover h2 {
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
    color: gainsboro;
}


/*Services Main CSS*/
.services-main-container {
    background-color: rgb(0, 96,151);
    margin: 1% 20% 1% 20%;
    border: 3px solid white;
}

.services-main-container label {
    display: block;
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.services-main-heading {
    background-color: #026092;
    margin: 1% 30% 1% 30%;
    border: 3px solid white;
}

.services-main-heading h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.services-main-container p {
    color: white;
    padding: 10px;
    margin: 10px;
}

.services-main-container ul {
    margin: 10px;
}

.services-main-container li {
    color: white;
}


/* Contact Main CSS*/

#contact-main-heading {
    text-align: center;
}

#contact-main-center {
    background-color: #026092;
}

#contact-main-center h2 {
    color: white;
    text-align: center;
}

#contact-main-center p {
    color: white;
    text-align: center;
}

#contact-form-container {
    border-right: 3px solid white;
    padding: 10px;
}

#contact-schedule {
    padding: 10px;
}



#errors {
    font-weight: bold;
}

#contactForm {
    margin-left: 10%;
}

#contactForm label  {
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
}

#contactForm input  {
    padding: 5px;
    margin: 5px;
}

#submit-btn {
    background-color: #026092;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
    font-size: 2em;
    border: 2px solid white;
    border-radius: 12px;
    margin: 10px;
}

#submit-btn:hover {
    background-color: white;
    color: #026092;
    border: 2px solid #026092;
}









